@using Nop.Plugin.ExternalAuth.OAuth.Models
@model ExhibitorSelectorModel

@inject Nop.Core.IWebHelper webHelper

@{
    Layout = ""; 
}

@{
  var returnUrl = webHelper.GetRawUrl(Context.Request);
  var selectItems = Model.Exhibitors.Select(ex => new SelectListItem
  {
    Text = $"{ex.ExhibitorName} ({ex.Hall}.{ex.Booth}) @ {ex.EventName}",
    Value = Url.ActionLink("SelectExhibitor", "ExhibitorSelector", new { exhibitorId = ex.ExhibitorId, returnUrl = returnUrl }),
    Selected = ex.IdEquals(Model.SelectedExhibitorId)
  }).ToList();

  <div class="exhibitor-selector">
    <select id="exhibitorSelect" name="exhibitorSelect" asp-items="@selectItems" onchange="window.location.href = this.value"></select>
  </div>
}